@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="intro">
    <p>Sex: Male</p>
    <p>Status: In a relationship</p>
    <p>Birthday: March 30,2001</p>
    <p>Address: Basta sa tab tabi</p>

 </div">

    <style>
        .intro {
            font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: left;
            margin-top: 60px;
            color: Black;
        }

        body {
            background-color: blanchedalmond;
        }
    </style>
