@{
    ViewBag.Title = "Home Page";
}

<div class="head">
    <h1>Lance Garrett C. Taburnal</h1>
    <h2>BSIT-32E3</h2>
    <img src="~/LG (2).jpg" class="myphoto" />
</div>

<div class="intro">
    <p>Hello!</p>
    <p>I'm a Irregular 3rd year Student pursuing a Bachelor of science in Information Tecnology in Lyceum of Alabang</p>
    <p>this is my third course and i am from Bicol now in Muntinlupa for my studies and future lifestyle</p>
    <p>and im 22 years old now turning 23 this March and when ever i think about it i feel old all of a sudden.</p>
</div>

<style>
    .intro {
        font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-top: 60px;
        color: Black;
    }

    body {
        background-color: blanchedalmond;
    }

    .head {
        font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: aquamarine;
    }

    .myphoto {
        border-radius: 20%;
        width: 300px
    }
</style>